@page "/"

<PageTitle>Files App</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">File Management</h1>
        <p class="lead">Upload, download, and manage your files</p>
        
        <div class="mt-4">
            <a href="/login" class="btn btn-primary btn-lg">Get Started</a>
        </div>
    </div>
</div>
